<div id="content">
  <div id="header">
    <h1>Optimise Your Rack</h1>
    <form method="GET" action="/solve">
      What sizes of cracks will you need to protect?
      <input name="min" id="min" />
      <label for="min">Minimum width (mm)</label><br />
      <input name="max" id="max" />
      <label for="max">Maximum width (mm)</label><br />
      <input type="submit" value="Submit" />
  </div>
</div>
